In [69]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [84]:

# Lista de arquivos e os nomes desejados para os DataFrames
arquivos = {
    "√Årea colhida tempor√°ria 1999-2020.csv": "df_colhida",
    "√Årea plantada tempor√°ria 1999-2020.csv": "df_plantada",
    "PIB 1999-2020.csv": "df_pib",
    "Valor de Produ√ß√£o 1999-2020.csv": "df_producao"
}

# Lista dos estados que queremos manter
estados_filtrados = ["Acre", "Amap√°", "Maranh√£o", "Par√°", "Roraima", "Tocantins", "Rond√¥nia", "Mato Grosso"]

# Configurar Pandas para exibir n√∫meros inteiros completos
pd.options.display.float_format = '{:.0f}'.format  

# Criar vari√°veis para armazenar os DataFrames
for arquivo, nome_df in arquivos.items():
    try:
        # Ler CSV com separador ',' e ignorar a primeira linha
        df = pd.read_csv(arquivo, encoding="utf-8", sep=",", skiprows=1)

        # Normalizar os nomes das colunas (remover espa√ßos extras)
        df.columns = df.columns.str.strip()

        # Remover colunas "C√≥digo" e "Sigla", se existirem
        colunas_para_remover = [col for col in ["C√≥digo", "Sigla"] if col in df.columns]
        if colunas_para_remover:
            df = df.drop(columns=colunas_para_remover)
            print(f"üóëÔ∏è Colunas removidas de {nome_df}: {colunas_para_remover}")

        # Filtrar os estados desejados
        if "Estado" in df.columns:
            df = df[df["Estado"].isin(estados_filtrados)]
            print(f"üåé Filtrados apenas os estados desejados em {nome_df}")

        # Remover a √∫ltima coluna do DataFrame
        df = df.iloc[:, :-1]  # Exclui a √∫ltima coluna
        print(f"üóëÔ∏è √öltima coluna removida de {nome_df}")

        # Armazenar na vari√°vel correta
        globals()[nome_df] = df
        print(f"‚úî {arquivo} carregado como {nome_df}")
        
    except Exception as e:
        print(f"Erro ao ler {arquivo}: {e}")

# Exibir quais DataFrames foram carregados
print("\nüìÇ DataFrames dispon√≠veis:", list(arquivos.values()))

üóëÔ∏è Colunas removidas de df_colhida: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_colhida
üóëÔ∏è √öltima coluna removida de df_colhida
‚úî √Årea colhida tempor√°ria 1999-2020.csv carregado como df_colhida
üóëÔ∏è Colunas removidas de df_plantada: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_plantada
üóëÔ∏è √öltima coluna removida de df_plantada
‚úî √Årea plantada tempor√°ria 1999-2020.csv carregado como df_plantada
üóëÔ∏è Colunas removidas de df_pib: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_pib
üóëÔ∏è √öltima coluna removida de df_pib
‚úî PIB 1999-2020.csv carregado como df_pib
üóëÔ∏è Colunas removidas de df_producao: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_producao
üóëÔ∏è √öltima coluna removida de df_producao
‚úî Valor de Produ√ß√£o 1999-2020.csv carregado como df_producao

üìÇ DataFrames dispon√≠veis: ['df_colhida', 'df_plantada', 'df_pib', 'df_producao']

In [85]:
df_producao.head()    # Dados de √Årea Colhida

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,280901,313605,239927,269827,305032,233521,254468,192954,114561,...,372323,370197,448795,486966,376911,367735,314997,267882,238250,232947
3,Amap√°,54019,57613,65246,92653,51878,69499,81296,104224,62853,...,133646,136851,108230,140603,122613,116809,128273,97938,96433,88955
9,Maranh√£o,1174349,1236926,1460514,1706625,2184801,2278222,2013958,1685441,818742,...,2659314,2489157,2834017,3263726,2665344,1858847,2574360,2896230,2783955,4097172
12,Mato Grosso,6462378,8505358,8920744,12022625,16952123,22973491,19042819,10597885,6298685,...,19851288,22238156,22986418,25076410,25213036,27721972,26547353,29377289,32788208,41799931
13,Par√°,2663438,2446348,2380176,2972192,3004765,2966993,2732156,2719318,1339278,...,3248390,3316805,4230965,4058338,7084513,6217955,6484517,5851528,5900826,7981859

In [86]:
df_plantada.head()    # Dados de √Årea Plantada

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,81922,93973,91952,97794,97091,115864,117634,111638,107877,...,121043,135180,118489,110554,103290,94552,87101,72431,69230,69521
3,Amap√°,6952,8602,12680,12791,12107,13056,14734,14309,15656,...,22076,20925,24280,39384,30878,34078,38863,34238,34800,36141
9,Maranh√£o,1151222,1213901,1255056,1295759,1413738,1520015,1605736,1608870,1620345,...,1751843,1795760,1845490,1975258,1802598,1571680,1783013,1796133,1701124,1699974
12,Mato Grosso,4353762,4746968,4882136,5632992,6445164,7912796,8976694,8009276,7992055,...,9884223,11262263,12723490,13542011,14082687,14494519,15570194,15478806,16594186,17150016
13,Par√°,1142087,1129737,946898,891509,990071,1028444,1061815,983007,950688,...,795974,818833,863784,921991,990298,1044728,1162676,1127425,1198602,1316338

In [87]:
pd.options.display.float_format = '{:.2f}'.format  # Exibe com duas casas decimais

df_producao.head()  # Dados de Valor de Produ√ß√£o Agr√≠cola

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,280900.59,313604.57,239926.84,269826.59,305032.27,233521.04,254467.85,192953.69,114561.48,...,372322.97,370196.58,448795.13,486965.64,376911.33,367735.34,314997.15,267881.59,238250.49,232947.25
3,Amap√°,54019.05,57613.08,65246.48,92652.50,51878.30,69499.22,81295.59,104223.61,62853.41,...,133646.49,136850.51,108230.11,140603.34,122612.77,116808.51,128273.36,97938.16,96433.03,88954.98
9,Maranh√£o,1174349.20,1236925.88,1460513.74,1706625.23,2184801.32,2278222.07,2013957.85,1685441.12,818741.97,...,2659313.55,2489157.01,2834016.76,3263726.39,2665343.97,1858846.93,2574359.60,2896230.10,2783955.28,4097171.93
12,Mato Grosso,6462377.66,8505358.41,8920744.06,12022624.80,16952122.93,22973491.10,19042819.44,10597884.56,6298684.62,...,19851288.28,22238156.43,22986418.48,25076410.27,25213035.59,27721972.02,26547353.03,29377288.65,32788208.27,41799931.48
13,Par√°,2663437.61,2446348.24,2380176.27,2972192.18,3004765.16,2966992.84,2732155.96,2719318.17,1339278.18,...,3248389.71,3316805.42,4230965.00,4058337.92,7084513.41,6217954.52,6484516.51,5851527.73,5900825.87,7981858.68

In [88]:
df_pib.head()   # Dados do PIB Estadual

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,1866542.32,2154284.48,2475169.50,2971301,3377234,3784003,4300581,4661807,5458172,...,8949434,10137925,11473930,13458698,13622802,13754240,14272941,15331123,15630017,16476371
3,Amap√°,2128307.03,2357035.64,2801925.03,3173343,3413195,3824740,4306410,5280822,6012523,...,9409228,11130868,12763486,13400284,13861293,14342135,15481908,16795207,17496661,18469115
9,Maranh√£o,10308256.16,11908911.65,13419658.02,15924003,19502900,22127132,25104209,29710643,30730866,...,52143535,60490109,67694845,76842028,78475994,85310038,89542757,98179496,97339938,106915962
12,Mato Grosso,12364904.96,14870532.68,16309976.23,19190653,26697097,33388670,34257055,30700165,38027578,...,69153957,79665691,89212919,101234520,107418319,123880296,126845898,137442853,142122028,178649564
13,Par√°,16503978.55,19050189.09,22321475.27,26482159,30270152,37272726,40522893,45983027,51846876,...,98710736,107080881,121224847,124584945,130899505,138107514,155232404,161349602,178376984,215935604

In [89]:
# Criar o normalizador
scaler = MinMaxScaler()

# Normalizar cada DataFrame sem dicion√°rio
for nome_df in ["df_colhida", "df_plantada", "df_pib", "df_producao"]:
    df = globals()[nome_df]  # Recupera o DataFrame original
    
    # Seleciona apenas colunas num√©ricas para normalizar
    colunas_numericas = df.select_dtypes(include=["number"]).columns

    if colunas_numericas.empty:
        print(f"‚ö†Ô∏è {nome_df} n√£o possui colunas num√©ricas para normalizar.")
        continue

    # Aplica a normaliza√ß√£o Min-Max
    df_normalizado = df.copy()
    df_normalizado[colunas_numericas] = scaler.fit_transform(df[colunas_numericas])

    # Criar uma nova vari√°vel global para armazenar a vers√£o normalizada
    globals()[f"{nome_df}_norm"] = df_normalizado

    print(f"‚úî {nome_df} normalizado e armazenado como {nome_df}_norm")

# Exibir os nomes dos DataFrames normalizados
print("\nüìÇ DataFrames normalizados dispon√≠veis:")
print("df_colhida_norm, df_plantada_norm, df_pib_norm, df_producao_norm")

‚úî df_colhida normalizado e armazenado como df_colhida_norm
‚úî df_plantada normalizado e armazenado como df_plantada_norm
‚úî df_pib normalizado e armazenado como df_pib_norm
‚úî df_producao normalizado e armazenado como df_producao_norm

üìÇ DataFrames normalizados dispon√≠veis:
df_colhida_norm, df_plantada_norm, df_pib_norm, df_producao_norm

In [96]:
df_colhida_norm

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,0.02,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Amap√°,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Maranh√£o,0.26,0.26,0.25,0.23,0.22,0.19,0.18,0.20,0.20,...,0.18,0.16,0.14,0.14,0.13,0.11,0.11,0.11,0.10,0.10
12,Mato Grosso,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
13,Par√°,0.26,0.23,0.19,0.15,0.15,0.13,0.12,0.12,0.12,...,0.08,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
20,Rond√¥nia,0.08,0.07,0.06,0.04,0.04,0.04,0.04,0.05,0.05,...,0.04,0.04,0.03,0.03,0.03,0.03,0.04,0.03,0.04,0.04
21,Roraima,0.01,0.01,0.00,0.00,0.01,0.01,0.00,0.01,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,Tocantins,0.07,0.06,0.06,0.06,0.06,0.07,0.07,0.07,0.07,...,0.07,0.06,0.06,0.07,0.08,0.08,0.08,0.09,0.08,0.09

In [97]:
df_plantada_norm

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,0.02,0.02,0.02,0.02,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00
3,Amap√°,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Maranh√£o,0.26,0.25,0.26,0.23,0.22,0.19,0.18,0.20,0.20,...,0.18,0.16,0.14,0.14,0.13,0.11,0.11,0.11,0.10,0.10
12,Mato Grosso,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
13,Par√°,0.26,0.24,0.19,0.16,0.15,0.13,0.12,0.12,0.12,...,0.08,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
20,Rond√¥nia,0.08,0.07,0.06,0.04,0.04,0.04,0.04,0.05,0.05,...,0.05,0.04,0.03,0.03,0.03,0.03,0.04,0.03,0.04,0.04
21,Roraima,0.01,0.01,0.00,0.00,0.01,0.01,0.00,0.01,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,Tocantins,0.07,0.06,0.06,0.06,0.06,0.07,0.07,0.07,0.07,...,0.07,0.06,0.06,0.07,0.08,0.08,0.08,0.09,0.08,0.09

In [95]:
df_pib_norm

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,0.02,0.02,0.02,0.02,0.03,0.03,0.03,0.02,0.03,...,0.02,0.02,0.02,0.03,0.03,0.02,0.02,0.01,0.01,0.00
3,Amap√°,0.04,0.03,0.04,0.03,0.03,0.03,0.03,0.04,0.04,...,0.02,0.03,0.03,0.03,0.03,0.03,0.02,0.02,0.02,0.01
9,Maranh√£o,0.59,0.59,0.56,0.56,0.61,0.56,0.59,0.61,0.56,...,0.49,0.53,0.52,0.58,0.57,0.58,0.54,0.57,0.51,0.45
12,Mato Grosso,0.72,0.76,0.70,0.70,0.87,0.89,0.83,0.64,0.71,...,0.68,0.72,0.71,0.80,0.81,0.89,0.80,0.84,0.78,0.81
13,Par√°,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
20,Rond√¥nia,0.26,0.24,0.22,0.21,0.25,0.24,0.25,0.22,0.21,...,0.22,0.23,0.20,0.21,0.22,0.22,0.22,0.21,0.20,0.18
21,Roraima,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,Tocantins,0.10,0.11,0.14,0.12,0.15,0.13,0.12,0.12,0.13,...,0.12,0.13,0.13,0.14,0.15,0.16,0.15,0.15,0.15,0.14

In [93]:
df_producao_norm

,Estado,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,0.04,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00
3,Amap√°,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Maranh√£o,0.17,0.14,0.16,0.14,0.13,0.10,0.10,0.15,0.12,...,0.13,0.11,0.12,0.13,0.10,0.06,0.09,0.10,0.08,0.10
12,Mato Grosso,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
13,Par√°,0.41,0.28,0.26,0.24,0.17,0.13,0.14,0.25,0.20,...,0.16,0.14,0.18,0.16,0.28,0.22,0.24,0.20,0.18,0.19
20,Rond√¥nia,0.15,0.11,0.05,0.06,0.07,0.04,0.05,0.07,0.06,...,0.06,0.07,0.05,0.05,0.05,0.06,0.07,0.06,0.05,0.05
21,Roraima,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,...,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
26,Tocantins,0.06,0.04,0.05,0.04,0.07,0.05,0.05,0.06,0.06,...,0.07,0.06,0.07,0.08,0.08,0.07,0.08,0.08,0.08,0.10