In [158]:
import pandas as pd

import matplotlib.pyplot as plt

In [157]:
df_desmatamento_csv = pd.read_csv("PRODES(DESMATAMENTO)/terrabrasilis_legal_amazon_02_02_2025_taxas_de_desmatamento_estadual_por_ano.csv",sep=";")
df_desmatamento_csv.head(20)

    year  area km²           uf
0   2024     23,00    Tocantins
1   2024    436,00      Roraima
2   2024    325,00     Rondônia
3   2024  2.362,00         Pará
4   2024  1.264,00  Mato Grosso
5   2024    287,00     Maranhão
6   2024      0,00        Amapá
7   2024  1.143,00     Amazonas
8   2024    448,00         Acre
9   2023  3.299,00         Pará
10  2023    284,00      Roraima
11  2023    867,00     Rondônia
12  2023     32,00    Tocantins
13  2023  2.048,00  Mato Grosso
14  2023    306,00     Maranhão
15  2023     17,00        Amapá
16  2023  1.610,00     Amazonas
17  2023    601,00         Acre
18  2022     27,00    Tocantins
19  2022    279,00      Roraima

In [159]:
df_desmatamento_csv.dtypes

year         int64
area km²    object
uf          object
dtype: object

In [160]:
# 1. Remover espaços em branco extras
df_desmatamento_csv['uf'] = df_desmatamento_csv['uf'].str.strip()
df_desmatamento_csv.head()

   year  area km²           uf
0  2024     23,00    Tocantins
1  2024    436,00      Roraima
2  2024    325,00     Rondônia
3  2024  2.362,00         Pará
4  2024  1.264,00  Mato Grosso

In [161]:
df_desmatamento_csv['area km²'] = df_desmatamento_csv['area km²'].replace({'\.': '', ',': '.'}, regex=True)
df_desmatamento_csv['area km²'] = pd.to_numeric(df_desmatamento_csv['area km²'], errors='coerce')

In [162]:
df_desmatamento_csv.dtypes

year          int64
area km²    float64
uf           object
dtype: object

In [163]:
df_desmatamento_csv['area km²'].head(20)

0       23.0
1      436.0
2      325.0
3     2362.0
4     1264.0
5      287.0
6        0.0
7     1143.0
8      448.0
9     3299.0
10     284.0
11     867.0
12      32.0
13    2048.0
14     306.0
15      17.0
16    1610.0
17     601.0
18      27.0
19     279.0
Name: area km², dtype: float64

In [164]:
# Filtrar para o estado do Pará
df_para = df_desmatamento_csv[df_desmatamento_csv['uf'] == 'Pará']

In [165]:
df_para.head(21)

     year  area km²    uf
3    2024    2362.0  Pará
9    2023    3299.0  Pará
21   2022    4162.0  Pará
30   2021    5238.0  Pará
39   2020    4899.0  Pará
48   2019    4172.0  Pará
57   2018    2744.0  Pará
66   2017    2433.0  Pará
75   2016    2992.0  Pará
84   2015    2153.0  Pará
93   2014    1887.0  Pará
102  2013    2346.0  Pará
108  2012    1741.0  Pará
120  2011    3008.0  Pará
129  2010    3770.0  Pará
138  2009    4281.0  Pará
144  2008    5607.0  Pará
156  2007    5526.0  Pará
165  2006    5659.0  Pará
174  2005    5899.0  Pará
183  2004    8870.0  Pará

In [167]:
df_para.dtypes

year          int64
area km²    float64
uf           object
dtype: object

In [153]:
# Exportar o DataFrame filtrado para um arquivo Excel
df_para.to_excel("desmatamento_1999_2020_Para.xlsx", index=False)

print("\nArquivo 'desmatamento_1999_2020_Para.xlsx' foi gerado com sucesso.")

Arquivo 'desmatamento_1999_2020_Para.xlsx' foi gerado com sucesso.